@inherits LayoutComponentBase

<div class="page">
    <main>
        <ion-header>
            <ion-toolbar>
                <ion-title>Blazor WASM Multiplication Tables</ion-title>
            </ion-toolbar>
        </ion-header>
        <article style="flex: 1 1 100%; overflow: auto;">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>